<% if pages.present? %>

  <nav aria-label="Pagination">
    <ul class="pagination">
      <% pages.each do |page| %>
        <li class="page-item<%= (page == current_page) ? ' active' : '' %>">
          <%= link_to page, users_path(page: page, query: query_params), class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
